<%- include('../../layouts/header'); -%>
<!--<link rel="stylesheet" href="/build/css/login.css" />-->

<div class="firstblock_login">
<form action="/auth/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
<h2 class="login">Se connecter</h2>
    <div class="row">
        <div class="col s12">
            <label for="email">E-mail :</label>
            <input type="email" required id="email" name="email">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <label for="password">Password :</label>
            <input type="password" minlength="8" required id="password" name="password">
        </div>
    </div>

    <div class="button-container">
        <div>
            <button class="button-submit" type="submit">Se connecter</button>
        </div>
    </div>
</form>

</div>
<%- include('../../layouts/footer'); -%>
