.DS_Store
.dockerignore
.env
.env.dist
.eslintignore
.eslintrc
.git
.gitignore
.idea
.scannerwork
.travis.yml
*.md
dist
docker
docker-compose.yml
logs/*
node_modules
public/*
npm-debug.log
sonar-project.js
Makefile
