<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Helpee</title>
    <link rel='stylesheet' href='/build/css/app.css'/>
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<header>
    <div class="content-header">
        <div class="header-image"></div>
    </div>
</header>
<div class="container marge-header">
    <% if(locals.flash) { %>
        <div class="alert alert-<%= flash.type %>">
            <%= flash.message %>
        </div>
    <% } %>

    <div class="navbar-container">
        <%- include('navbar'); -%>
    </div>
