<div id="burgercont" class="menuburger-container inactive">
    <div class="block-nav">

        <div class="container-profil">
            <% if (locals.user) { %>
                <div id="img-profil">
                    <img src="/images/img-profile.png" width="84" height="84" alt="image de profil de <%= user.firstname%> <%= user.lastname %>" />
                </div>
                <div class="user"><%= user.firstname %></div>
                <div class="user userlast"><%= user.lastname %></div>
        </div>
        <% } else { %>
            <div class="log"><a href="/auth/login">Se connecter</a></div>
            <div class="log"><a href="/auth/register">Créer un compte</a></div>
    </div>
    <% } %>
    <ul class="block-nav-ul">
        <% if (locals.user) { %>
            <li>
                <a href="/ad/new">Poster une annonce</a>
            </li>
            <li>Gérer les annonces</li>
            <li>Annonces favorites</li>
            <li>Ma communauté</li>
            <li>Mes Amis</li>
            <li>Réglages</li>
            <li>
                <a href="/auth/logout">Se déconnecter</a>
            </li>
        <% } %>
    </ul>
</div>
</div>

<script type="text/javascript">
  var buttonburger = document.getElementById("icon-burger");
  buttonburger.onclick = active;

  function active() {
    var burgercontainer = document.getElementById("burgercont");
    const element = document.querySelector("#burgercont")
    if (element.classList.contains("active")) {
      burgercontainer.classList.remove("active");
      burgercontainer.classList.add("inactive");
    } else {
      burgercontainer.classList.remove("inactive");
      burgercontainer.classList.add("active");
    }
  }

</script>
