<div id="burgercont" class="menuburger-container inactive">

</div>

<script type="text/javascript">
  var buttonburger = document.getElementById("icon-burger");
  buttonburger.onclick = active;

  function active() {
    var burgercontainer = document.getElementById("burgercont");
    const element = document.querySelector("#burgercont")
    if(element.classList.contains("active")) {
      burgercontainer.classList.remove("active");
      burgercontainer.classList.add("inactive");
    }
    else {
      burgercontainer.classList.remove("inactive");
      burgercontainer.classList.add("active");
    }
  }

</script>