<div class="container-navbar">
  <div class="navbar">
    <div class="navbar__button">
      <button><i class="icon icon-actu"></i></button>
      <button><i class="icon icon-communaute"></i></button>
      <button><i class="icon icon-homepage"></i></button>
      <button><i class="icon icon-chat"></i></button>
      <button id=icon-burger><i class="icon icon-menu-burger"></i></button>
    </div>
  </div>
</div>