<%- include('layouts/header'); -%>

<div class="container homepage">
  <div class="firstblock">
    <div class="button-container">
      <button class="button-fit"><i >je propose</i></button>
      <button class="button-fit"><i >je recherche</i></button>
    </div>

    <div class="container-list">
      <ul id="categ-list">
        <li class="drop-down">
          <div class="drop-down__button">
            <a href="#">Catégorie</a>
            <div class="icon icon-arrow-down"></div>
          </div>
          <ul class='drop-down__list'>
            <li><a href="#">Jardin</a></li>
            <li><a href="#">Bricolage</a></li>
            <li><a href="#">Voiture</a></li>
            <li><a href="#">Garde d'enfant</a></li>
            <li><a href="#">Aide aux personnes agées</a></li>
            <li><a href="#">Cuisine</a></li>
            <li><a href="#">Musique</a></li>
            <li><a href="#">Mécanique</a></li>
            <li><a href="#">Je sais pas</a></li>
            <li><a href="#">Toujours pas</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="input-container">
      <div class="ville-container">
        <div class="container-input">
          <input type="text" class="hompepage-input__text input__ville" name="name" placeholder="Renseignez votre ville">
        </div>
      </div>

      <div class="ville-container">
        <div class="container-input input__jesaispas">
          <input type="text" class="hompepage-input__text" name="name" placeholder="Je sais pas à quoi ça sert">
        </div>
      </div>
    </div>

    <div class="button-container container__button-rechercher">
      <button class="button-fit button-rechercher"><i >rechercher</i></button>
    </div>

  </div>


  <div class="secondblock">
    <div class="chiffres-container">
      <div class="chiffres-container__commun chiffres-container__communautés">
        <i class="icon-chiffres icon-communautés"></i>
        <p class="chiffres-commun chiffres__communautés violet">2576</p>
        <p class="chiffres-commun__text violet">Communautés</p>
      </div>
      <div class="chiffres-container__commun chiffres-container__uev">
        <i class="icon-chiffres icon-argent"></i>
        <p class="chiffres-commun chiffres__uev yellow">2 576 257</p>
        <p class="chiffres-commun__text yellow">UEV dépensés</p>
      </div>
      <div class="chiffres-container__commun chiffres-container__membres">
        <i class="icon-chiffres icon-membres"></i>
        <p class="chiffres-commun chiffres__membres corail">257 518</p>
        <p class="chiffres-commun__text corail">Membres</p>
      </div>
    </div>
  </div>

  <div class="thirdblock">
  </div>

</div>

<%- include('layouts/footer'); -%>
