<%- include('layouts/header'); -%>
<link rel="stylesheet" href="/build/css/homepage.css" />
<%- include('layouts/menuburger'); -%>

<div class="container homepage">
    <div class="firstblock">
        <div class="button-container" id="btncont-1">
            <a id="button-prop" class="button-fit but_propose inactive_propose" href="/ad/new">je propose</a>
            <a id="button-rech" class="button-fit but_recherche inactive_recherche">je recherche</a>
        </div>

        <div class="select-container">
            <form class="form-cat">
                <select class="select-button" id="categories" name="categories" size="1">
                    <option>Catégorie</option>
                    <option>test1</option>
                    <option>test2</option>
                    <option>test3</option>
                    <option>test4</option>
                    <option>test5</option>
                </select>
                <label for="categories"></label>
            </form>
        </div>

        <!--
        <div class="input-container">
            <div class="ville-container">
                <div class="container-input">
                    <input type="text" class="hompepage-input__text input__ville" name="name" placeholder="Mot(s)-clé(s)">
                </div>
            </div>-->

    <div class="input-container">
      <div class="ville-container">
        <div class="container-input">
          <input type="text" class="hompepage-input__text" name="name" placeholder="Mot(s)-clé(s)">
        </div>
      </div>
    </div>

      <div class="ville-container">
        <div class="container-input input__ville">
          <input type="text" class="hompepage-input__text" name="name" placeholder="Ville">
        </div>
      </div>

        <div class="button-container container__button-rechercher">
            <a class="button-fit button-rechercher" href="/ad/search">Rechercher</a>
        </div>
    </div>

    <div class="secondblock">
        <div class="chiffres-container">
            <div class="chiffres-container__commun chiffres-container__communautés">
                <i class="icon-chiffres icon-communautés"></i>
                <p class="chiffres-commun chiffres__communautés purple-text">2576</p>
                <p class="chiffres-commun__text purple-text">Communautés</p>
            </div>
            <div class="chiffres-container__commun chiffres-container__uev">
                <i class="icon-chiffres icon-argent"></i>
                <p class="chiffres-commun chiffres__uev yellow-text">2 576 257</p>
                <p class="chiffres-commun__text yellow-text">UEV dépensés</p>
            </div>
            <div class="chiffres-container__commun chiffres-container__membres">
                <i class="icon-chiffres icon-membres"></i>
                <p class="chiffres-commun chiffres__membres amaranth-text"><%= userCount %></p>
                <p class="chiffres-commun__text amaranth-text">Membres</p>
            </div>
        </div>
    </div>

    <div class="thirdblock">
        <h3>Comment ça marche ?</h3>
        <table>
            <tr class="li1">
                <td class="nb">1.</td>
                <td class="list">Inscrivez-vous et devenez membre</td>
            </tr>
            <tr class="li2">
                <td class="nb">2.</td>
                <td class="list">Rejoignez des communautés près de chez vous</td>
            </tr>
            <tr class="li3">
                <td class="nb">3.</td>
                <td class="list">Recherchez et/ou proposez des services</td>
            </tr>
        </table>
    </div>
</div>

<%- include('layouts/footer'); -%>
