<% layout('layout/layout') -%>

<div class="container homepage">
  <div class="firstblock">
    <div class='button-container'>
      <a class='button-fit'>je propose</a>
      <a class='button-fit'>je recherche</a>
    </div>

    <!-- <form class='form-cat'>
    <SELECT class='select-button' name="Catégorie" size="1">
    <OPTION>catégorie
    <OPTION>test1
    <OPTION>test2
    <OPTION>test3
    <OPTION>test4
    <OPTION>test5
    </SELECT>
    </form>
    -->

    <div class="container-list">
      <ul id="categ-list">
        <li class="drop-down">
          <div class="drop-down__button">
            <a href="#">Catégorie</a>
            <div class="icon icon-arrow-down"></div>
          </div>
          <ul class='drop-down__list'>
            <li><a href="#">Jardin</a></li>
            <li><a href="#">Bricolage</a></li>
            <li><a href="#">Voiture</a></li>
            <li><a href="#">Garde d'enfant</a></li>
            <li><a href="#">Aide aux personnes agées</a></li>
            <li><a href="#">Cuisine</a></li>
            <li><a href="#">Musique</a></li>
            <li><a href="#">Mécanique</a></li>
            <li><a href="#">Je sais pas</a></li>
            <li><a href="#">Toujours pas </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>


  <div class="secondblock">
  </div>

  <div class="thirdblock">
  </div>

</div>




<ul>
    <% users.forEach((user) => {%>
        <li><%= user.firstname %> <%= user.lastname %></li>
    <%})%>
</ul>
