<%- include('../../layouts/header'); -%>
<%- include('../../layouts/menuburger'); -%>
<form method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <div class="row">
        <div class="col s12">
            <label for="password">Password* :</label>
            <input type="password" minlength="8" required id="password" name="password">
            (8 character min)
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label for="password-confirmation">Password confirmation* :</label>
            <input type="password" required id="password-confirmation" name="passwordConfirmation">
        </div>
    </div>

    <button type="submit">Submit</button>
</form>
<%- include('../../layouts/footer'); -%>
