@charset "UTF-8";

// Color
@import "components/color-variables";
@import "components/color-classes";

// Variables
@import "components/variables";

// Reset
@import "components/normalize";

// Componenents
@import "components/grid";
@import "components/form/form-input";
@import "components/font";

.header-image {
    margin: auto;
    background: url("../images/header.jpg");
    width: 1223px;
    height: 387px;
}