.firstblock{
    background-color: #FFF;
    width: 100%;
    height: 200px;
    margin-top: 5px;
    border-radius: 5px;
}

.button-fit{
    display: block;
    width: 135px;
    height: 20px;
    color: #FFF;
    background-color: color("amaranth", "base");
    text-align: center;
    margin-top:10px;
    border-radius:5px;
    font-family: Montserrat-Regular;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;
}

.button-contener{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.form-cat{
    display: flex;
    justify-content: center;
}

.select-button{
    text-transform: none;
    width: 286px;
    background-color: #e93959;
    justify-content: space-evenly;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    border: none;
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 20px;
}

.contener-list{
    display: flex;
    justify-content: space-evenly;
}

#categ-list {
    padding:0;
    margin-top:20;
    list-style:none;
    width: 80%;
  }
.drop_down{
  position: relative;

}

  .icon{
    position:absolute;
    background-image:url("../icons/arrow_down.svg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 15px;
    height: 15px;
    top: 2px;
    right: 4px;
  }

  

  #categ-list ul {
    padding:0;
    margin:0;
    max-height: 80px;
    list-style:none;
    overflow-y: scroll;
    border-radius: 0 0 0 5px;
  }

  .test::-webkit-scrollbar{
    width: 11px;
    background-color:color("amaranth","lighten-5");
    border-radius: 0 0 5px 0;    
  }

  .test::-webkit-scrollbar-thumb {								/* Barre */
    border: solid 3.5px transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 15px 9px;
    -webkit-border-bottom-right-radius: 15px 9px;
    -webkit-box-shadow: inset 0 0 0 1px rgb(255, 255, 255), inset 0 0 0 6px rgb(255, 255, 255);
  }
  // .test::-webkit-scrollbar-thumb:hover {						/* Barre */
  //   -webkit-box-shadow: inset 0 0 0 1px #e93959, inset 0 0 0 6px #e93959;
  // }

  #categ-list li {
     background-color: #e93959; 
     border-radius: 5px;
     margin-bottom:2px;
  }
  #categ-list li li {
     max-height:0;
     overflow: hidden;
     transition: all .7s;
     border-radius:0;
     background:color("amaranth","lighten-5");
     box-shadow: none;
     border:none;
     margin:0
  }


  #categ-list a {
    display:block;
    text-decoration: none;
    color: #fff;
    height: 20px;
    line-height: 20px;
    font-family: Montserrat-Regular;
    font-size:13px;
    padding-left: 2%;
  }
  .test{
    
  }
  #categ-list ul li a, #categ-list li:hover li a {
    font-size:13px;
  }
  #categ-list li:hover {
     background: #e93959;
  }
  #categ-list li li:hover {
     background: #e93959;
  }
  #categ-list ul li:last-child {
     border-radius: 0 0px 0px 5px;
     border:none;
  }
  #categ-list li:hover li {
    max-height: 15em;
    
  }