.menuburger-container {
  position:         fixed;
  top:              0px;
  right:            -36%;
  width:            100%;
  height:           100%;
  background-color: rgba(59, 59, 59, 0.95);
  // display: flex;
  z-index:          9;
}

.inactive {
  display:    none;
  transition: ease-in-out 2s;
}

.block-nav {

  .block-nav-ul {
    margin-top:      30px;
    font-family:     Montserrat-SemiBold, sans-serif;
    color:           #FFFFFF;
    font-size:       13px;
    text-decoration: none;
    list-style-type: none;
  }

  li {
    line-height: 40px;
  }
}

.container-profil {
  margin-top:   90px;
  padding-left: 40px;
}

#img-profil > img {
  border-radius: 50%;
}

.user {
  font-family: Montserrat-SemiBold, sans-serif;
  color:       #FFFFFF;
  font-size:   20px;
  display:     block;
  padding-top: 10px;
}

.log a {
  font-family:     Montserrat-SemiBold, sans-serif;
  color:           #FFFFFF;
  font-size:       20px;
  display:         block;
  padding-top:     10px;
  text-decoration: none;
}

#img-profil {
  display:       inline-block;
  border-radius: 50%;
}
