<%- include('../layouts/header') -%>
<div class="container">
    <h2 class="title"><%= ad.title %></h2>

    <%#--
       -- {
       --  images: array,
       --  user:
       --   { firstname: string,
       --     lastname: string },
       --  category:
       --   { label: string,
       --     slug: string },
       --  community:
       --   { name: string,
       --     slug: string },
       -- location:
       --   { zip_code: string,
       --     name: string,
       --     slug: string },
       --  title: string,
       --  slug: string,
       --  description: string,
       --  uev: number
       -- }
      --#%>
</div>
<%- include('../layouts/js_imports') -%>
<%- include('../layouts/footer') -%>
