<%- include('../layouts/header'); -%>
<%- stylesheetTag('search.css'); -%>
<%- include('../layouts/menuburger'); -%>

<div class="container search">

    <div class="firstblock_search">
        <div class="button-container">
            <a id="button-prop" class="button-fit but_propose inactive_propose" href="/ad/new">je propose</a>
            <a id="button-rech" class="button-fit but_recherche inactive_recherche" href="/">je recherche</a>
        </div>

        <div class="input-container">
            <div class="text-container">
                <div class="container-input">
                    <input type="text" class="hompepage-input__text" name="name" placeholder="Mot(s)-clé(s)">
                </div>
            </div>
        </div>

        <div class="input-container">
            <div class="text-container">
                <div class="container-input">
                    <input type="text" class="hompepage-input__text" name="name" placeholder="Ville">
                </div>
            </div>
         </div>

        <div class="select-ville-container">
            <div class="container_80">
                    <p class="text_ville">Dans un rayon de</p>
                    <form class="form-cat select-container_rayon">
                        <select class="select-button" id="rayon" name="categories" size="1">
                            <option>5 km</option>
                            <option>10 km</option>
                            <option>15 km</option>
                            <option>20 km</option>
                            <option>30 km</option>
                            <option>50 km</option>
                        </select>
                        <label for="rayon"></label>
                    </form>
            </div>
        </div>
        <div class="select-ville-container">
        <div class="container_80_cat">
            <form class="form-cat select-container_categorie">
                <select class="select-button" id="categories" name="categories" size="1">
                    <option>Catégorie</option>
                    <option>test1</option>
                    <option>test2</option>
                    <option>test3</option>
                    <option>test4</option>
                    <option>test5</option>
                </select>
             <label for="rayon"></label>
            </form>
        </div>

        <div class="button-container container__button-rechercher">
            <a class="button-fit button-rechercher but_recherche" href="/ad/search">Rechercher</a>
        </div>

        </div>


    </div>

    <div class="secondblock_search">
    </div>

</div>


<%- include('../layouts/footer'); -%>
