<label for="label">Label</label>

<input type="text" id="label" name="label" value="<%= locals.category ? category.label : '' %>">

<label for="slug"></label>
<input type="text" id="slug" name="slug" readonly value="<%= locals.category ? category.slug : '' %>">

